{
    "presets": [
				"@babel/preset-env",
				"@babel/typescript",
				"@babel/preset-react"
		],
		"sourceMaps": "inline",
		"plugins": [
				"babel-plugin-styled-components",
				["@babel/plugin-transform-runtime", {
						"helpers": false,
						"regenerator": true
				}]
		]
}
