bin/
coverage/
demo/
docs/
images/
lib/**/__test__/
node_modules/
tmp/

.awcache
.babelrc
.editorconfig
.gitattributes
.gitignore
.nyc_output
.travis.yml
*.jsx
*.map
*.tsx
index.js
jsdoc.json
lib/**/*.css
lib/**/*.css.json
bin/**/*.js
lib/**/*.js
postcss.config.js
tsconfig.json
tslint.json
webpack.config.js
yarn.lock
*.ts
!*.d.ts
