bin
coverage/
demo/
docs/
images/
lib/**/__test__/
logs
node_modules/
test/
tmp/
__tests__

.awcache
.babelrc
.editorconfig
.gitattributes
.gitignore
.nyc_output
.prettierignore
.prettierrc
.travis.yml
*.jsx
*.map
*.tsx
index.js
jsdoc.json
lib/**/*.css
lib/**/*.css.json
bin/**/*.js
lib/**/*.js
postcss.config.js
tsconfig.json
tslint.json
webpack.config.js
yarn.lock
yarn-error.log
*.ts
!*.d.ts
**/*.snap
demo/**/*
lib/**/*
index.d.ts
