bin
coverage/
demo/
docs/
lib/**/__test__/
node_modules/
tmp/

.babelrc
.editorconfig
.gitattributes
.gitignore
.nyc_output
.travis.yml
*.jsx
*.map
!lib/**/*.d.ts
!index.d.ts
*.ts
*.tsx
index.js
jsdoc.json
lib/**/*.css
lib/**/*.css.json
bin/**/*.js
lib/**/*.js
postcss.config.js
tsconfig.json
tslint.json
webpack.config.js
yarn.lock
