h1 {
	font-size: 1.75em;
	margin: 0;
	padding: 30px 0 8px 0;
}

h1:first-child {
	padding: 5px 0 5px 0;
}

h3 {
	font-size: 1.1em;
	margin: 0;
}

p {
	font-size: 0.9em;
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
}

section {
	margin-bottom: 20px;
}

#app {
	padding: 10px;
}

#listExample1, #listExample2, #accordionExample, #selectExample, #toastExample {
	width: 80%;
}

#listExample1 .ui-list, #listExample2 .ui-list, #accordionExample .ui-accordion {
	border: solid 1px #004358;
}

#simple-buttons, #simple-icons {
	display: flex;
}

#buttonTable {
	border: solid 1px #004358;
	border-spacing: 2px 5px;
}

#buttonTable th {
	font-size: 0.8em;
	font-weight: normal;
}

#buttonTable thead th {
}

#buttonTable tbody th {
	text-align: right;
}

#buttonTable th, #buttonTable td {
	min-width: 80px;
	height: 80px;
}

#buttonTable td {
	border: solid 1px lightgray;
}

#buttonTable .tblIcons td i, #buttonTable .tblIcons td img {
	position: relative;
	text-align: center;
	vertical-align: middle;
	left: 50%;
	transform: translateX(-50%);
}

.box {
	padding: 5px;
	border-right: solid 1px #004358;
	width: 75px;
}

.box:last-child {
	border: 0;
}

.box .boxButtons {
	height: 42px;
}

#simple-icons .box .ui-icon, .box .ui-button, .toastBox .ui-button, .box .boxButtons {
	border: solid 1px lightgray;
}

.demoLabel {
	background-color: #004358 !important;
	color: #ffe11a !important;
}

.toastInfo {
	border: solid 1px #004358;
	position: relative;
	margin-bottom: 20px;
}

.toastBox {
	display: flex;
	align-items: left;
}

.toastBox .ui-button {
	flex: 1;
}

.toastBox p {
	flex: 5;
	color: red;
	padding-left: 5px;
	line-height: 32px;
	margin: 0;
}

.pagerBox  {
	margin-bottom: 30px;
}

#tooltipExample {
	display: block;
	width: 100%;
}

#tooltipContainer {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin: 0 auto;
}

.tooltipCell {
	display: inline-block;
	position: relative;
	flex: 0 0 32%;
	height: 50px;
	background-color: #bedb39;
	border: solid 1px white;
	line-height: 50px;
	text-align: center;
	min-width: 75px;
}

#tooltipContainer > .inactive {
	background-color: gray;
}

#tooltipContainer .topLeft:hover > .ui-tooltip,
#tooltipContainer .top:hover > .ui-tooltip,
#tooltipContainer .topRight:hover > .ui-tooltip,
#tooltipContainer .middleLeft:hover > .ui-tooltip,
#tooltipContainer .middleRight:hover > .ui-tooltip,
#tooltipContainer .bottomLeft:hover > .ui-tooltip,
#tooltipContainer .bottom:hover > .ui-tooltip,
#tooltipContainer .bottomRight:hover > .ui-tooltip,
#tooltipStyleExample:hover > .ui-tooltip
{
	opacity: 1.0;
	z-index: 99999;
}

#tooltipStyleExample {
	display: flex;
	position: relative;
	width: 75px;
	height: 75px;
	margin: 30px auto;
	background-color: #bedb39;
}


/*

   Global UI color settings for components

 */

.ui-accordion > .ui-accordionitem > .ui-item {
	color: white;
	background-color: #004358;
}

.ui-list {
}

.ui-list-header {
	background-color: #004358;
	color: white;
}

.ui-selected {
	background-color: #1f8a70 !important;
}

.ui-selected .ui-title, .ui-selected .ui-widget {
	color: white !important;
}

.ui-listitem:not(.nohover):hover {
	background-color: #bedb39;
}

.ui-accordionitem > .ui-item > .ui-title-bar:not(.nohover):hover {
	color: #ffe11a;
}

.ui-button:not(.nohover):hover,
.ui-button-text:not(.nohover):hover
{
	background-color: silver !important;
}

.ui-dialog-popup {
	color: black;
	background-color: white;
	border: solid 1px #004358;
}

.ui-select .Select-control {
	border-color: #004358;
}

.ui-pager > .ui-button, .ui-pager > .ui-button-text {
	border-top: solid 1px #004358;
	border-bottom: solid 1px #004358;
	border-right: solid 1px #004358;
}

.ui-pager > .ui-button:first-child {
	border-left: solid 1px #004358;
}

.ui-pager-selected {
	color: #ffe11a;
	background-color: #004358;
}
