h1 {
	font-size: 1.5em;
	margin: 0;
	padding: 20px 0 5px 0;
}

h1:first-child {
	padding: 5px 0 5px 0;
}


section {
	margin-bottom: 20px;
}

#app {
	padding: 10px;
}

#listExample1, #listExample2, #accordionExample {
	margin: 0 auto;
	width: 70%;
}

#listExample1 .ui-list, #listExample2 .ui-list, #accordionExample .ui-accordion {
	border: solid 1px #004358;
}

#simple-buttons {
	display: flex;
	justify-content: space-evenly;
	line-height: 32px;
	text-align: center;
}

.box {
	padding: 5px;
	border-right: solid 1px #004358;
}

.box:last-child {
	border: 0;
}

.box i {
	border: solid 2px lightgray;
}

.demoLabel {
	background-color: #004358;
	color: #ffe11a;
}

/*

Global UI color settings for components

*/

.ui-accordion > .ui-item > .ui-item-bar {
	color: white;
	background-color: #004358;
}

.ui-list {
}

.ui-list-header {
	background-color: #004358;
	color: white;
}

.ui-selected {
	background-color: #1f8a70 !important;
}

.ui-selected .ui-title, .ui-selected .ui-widget {
	color: white !important;
}

.ui-listitem:not(.nohover):hover {
	background-color: #bedb39;
}

.ui-accordionitem > .ui-item-bar > .ui-title-bar:not(.nohover):hover {
	color: #ffe11a;
}

.ui-button:not(.nohover):hover {
	background-color: #fd7400;
}

.ui-dialog-popup {
	background-color: white;
	border: solid 1px #004358;
}
