@import url("./fonts.css");

html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

body {
	font-family: "OpenSans", Georgia, serif;
}

h3 {
	font-size: 1.1em;
	margin: 0;
}

p {
	margin-bottom: 8px;
}

section {
	margin-bottom: 20px;
}

#app {
	padding: 10px;
}

#dialogBoxExample,
textfieldExample {
	width: 100%;
}

#simple-buttons,
#simple-icons {
	display: inline-flex;
}

.box {
	border-right: solid 1px #004358;
	flex: 1;
	flex-direction: column;
	min-width: 125px;
	padding: 10px;
}

.box:last-child {
	border: 0;
}

.box .boxButtons {
	height: 42px;
}

.box .ui-button-text {
	border: 1px solid gray;
	width: 75px;
}

#buttonTable {
	border-spacing: 2px 5px;
}

#buttonTable th {
	font-size: 0.8em;
	font-weight: normal;
	padding-right: 7px;
	text-align: center;
}

#buttonTable thead th {
}

#buttonTable tbody th {
	text-align: right;
}

#buttonTable th,
#buttonTable td {
	height: 60px;
	min-width: 80px;
	overflow: visible;
}

#buttonTable td > div {
	overflow: visible !important;
}

#buttonTable .tblIcons td i,
#buttonTable .tblIcons td img {
	left: 50%;
	position: relative;
	transform: translateX(-50%);
}

#editorExample {
	display: flex;
	flex-direction: column;
	height: 600px;
}

#simple-icons .box .ui-icon,
.box .ui-button,
.toastBox .ui-button,
.box .boxButtons,
#buttonTable td {
	border: solid 1px lightgray;
}

.demoLabel {
	background-color: #004358 !important;
	color: #ffe11a !important;
}

.pagerBox,
selectBox {
	margin-bottom: 30px;
	width: 450px;
}

/* #sliderExample { */
/*     padding: 20px; */
/* } */

#titleExample .ui-title {
	border: solid 1px #004358;
}

#titleExample .ui-title-widget {
	border: solid 1px #fd7400;
}

.toastInfo {
	border: solid 1px #004358;
	position: relative;
	margin-bottom: 20px;
}

.toastBox {
	align-items: left;
	display: flex;
	height: 32px;
}

.toastBox .ui-button {
	flex: 1;
}

.toastBox p {
	flex: 5;
	color: red;
	padding-left: 5px;
	line-height: 32px;
	margin: 0;
}
#tooltipExample {
	display: block;
	width: 100%;
}

#tooltipContainer {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin: 0 auto;
}

.tooltipCell {
	display: inline-block;
	position: relative;
	flex: 0 0 32%;
	height: 50px;
	background-color: #fd7400;
	border: solid 1px white;
	line-height: 50px;
	text-align: center;
	min-width: 50px;
	font-size: 0.66em;
}

#tooltipContainer > .inactive {
	background-color: gray;
}

#tooltipStyleExample {
	display: flex;
	position: relative;
	width: 75px;
	height: 75px;
	margin: 30px auto;
	background-color: #fd7400;
}

/*

   Global UI color settings for components

 */

.ui-breadcrumbs {
	border: solid 1px silver;
}

.ui-select .Select-control {
	border-color: #004358;
}

.ui-tab-content {
	border-color: #004358;
}
